# top-most EditorConfig file (http://editorconfig.org)
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 5
insert_final_newline = true
tab_width = 5
trim_trailing_whitespace = true
charset = utf-8
